---
import { Image } from 'astro:assets'
const { artist, playlistId } = Astro.props
---

{
	artist && artist.name ? (
		<a
			href={`/playlist/${playlistId}/artist/${artist.name.toLowerCase()}`}
			class='block'
		>
			<div class='flex flex-row items-center justify-between px-2 text-[#E1E1E1] transition-all duration-200 hover:scale-105'>
				<div class='flex flex-row items-center gap-6'>
					<div class='relative h-10 w-10 overflow-hidden rounded-full'>
						<Image
							src={artist.imageUrl || '/avatar.png'}
							alt={artist.name || 'Unknown Artist'}
							width={40}
							height={40}
							loading={'lazy'}
							class='absolute inset-0 h-full w-full object-cover'
							data-artist-image={artist?.name.toLowerCase()}
						/>
					</div>
					<div class='flex flex-col gap-1'>
						<p
							class='text-base font-bold'
							data-artist-name={artist?.name.toLowerCase()}
						>
							{artist.name}
						</p>
						<p
							class='text-sm'
							data-artist-stats={artist?.name.toLowerCase()}
						>
							{artist.contentCount} songs
						</p>
					</div>
				</div>
				<div class='flex flex-row items-center gap-12'>
					<p
						class='text-sm text-[#D6D6D6]'
						data-artist-stats={artist?.name.toLowerCase()}
					>
						{artist.percentage.toFixed(2)}%
					</p>
					<div class='flex h-7 w-7 items-center justify-center rounded-full bg-[#2C2C2C] p-1'>
						i
					</div>
				</div>
			</div>
		</a>
	) : (
		<div class='flex flex-row items-center justify-between text-[#E1E1E1]'>
			<div class='flex flex-row items-center gap-6'>
				<Image
					src={artist.imageUrl || '/avatar.png'}
					alt={artist.name || 'Unknown Artist'}
					width={40}
					height={40}
					loading={'lazy'}
					class='aspect-[1/1] rounded-full object-cover'
				/>
				<div class='flex flex-col gap-1'>
					<p class='text-base font-bold'>{artist.name}</p>
					<p class='text-sm'>{artist.contentCount} songs</p>
				</div>
			</div>
			<div class='flex flex-row items-center gap-12'>
				<p class='text-sm text-[#D6D6D6]'>{artist.percentage.toFixed(2)}%</p>
				<div class='flex h-7 w-7 items-center justify-center rounded-full bg-[#2C2C2C] p-1'>
					i
				</div>
			</div>
		</div>
	)
}

<script>
	document.addEventListener('astro:page-load', () => {
		const artistImage = document.querySelector('[data-artist-image]')
		if (artistImage instanceof HTMLElement) {
			const artistName = artistImage.dataset.artistImage
			// @ts-ignore
			artistImage.style.viewTransitionName = `artist-image-${artistName}`
		}

		const artistNameElement = document.querySelector('[data-artist-name]')
		if (artistNameElement instanceof HTMLElement) {
			const artistName = artistNameElement.dataset.artistName
			// @ts-ignore
			artistNameElement.style.viewTransitionName = `artist-name-${artistName}`
		}

		const artistStats = document.querySelector('[data-artist-stats]')
		if (artistStats instanceof HTMLElement) {
			const artistName = artistStats.dataset.artistStats
			// @ts-ignore
			artistStats.style.viewTransitionName = `artist-stats-${artistName}`
		}
	})
</script>
