---
import TopArtist from '@/components/TopArtist.astro'
import SecondThirdArtist from './SecondThirdArtist.astro'
import SortableArtists from './SortableArtists'

const { playlistInfo } = Astro.props
const { id } = Astro.params
---

<main
	class='container mx-auto flex h-full min-h-screen max-w-md flex-col gap-5 p-7'
>
	<TopArtist
		artist={playlistInfo.artists[0]}
		playlistId={id}
	/>
	<section class='flex flex-row justify-around'>
		<SecondThirdArtist
			artist={playlistInfo.artists[1]}
			number={'Second'}
			playlistId={id}
		/>
		<SecondThirdArtist
			artist={playlistInfo.artists[2]}
			number={'Third'}
			playlistId={id}
		/>
	</section>
	<SortableArtists artists={playlistInfo.artists.slice(3)} playlistId={id} client:load />
</main>
