---
import TopArtist from '@/components/TopArtist.astro'
import Artist from '@/components/Artist.astro'
import SecondThirdArtist from './SecondThirdArtist.astro'
import type { ArtistInfo } from '@/env'

const { playlistInfo } = Astro.props
const { id } = Astro.params
---

<main
	class='container mx-auto flex h-full min-h-screen max-w-md flex-col gap-5 p-7'
>
	<TopArtist
		artist={playlistInfo.artists[0]}
		playlistId={id}
	/>
	<section class='flex flex-row justify-around'>
		<SecondThirdArtist
			artist={playlistInfo.artists[1]}
			number={'Second'}
			playlistId={id}
		/>
		<SecondThirdArtist
			artist={playlistInfo.artists[2]}
			number={'Third'}
			playlistId={id}
		/>
	</section>
	<section
		class='flex h-full flex-col gap-6 overflow-y-auto'
		id='artists'
	>
		<div class='flex flex-row items-center justify-between px-[0.375rem]'>
			<h1 class='text-xl font-bold text-[#DBDBDB]'>Other artists</h1>
			<small class='text-xs text-[#C6C6C6]'>Sort Ascending</small>
		</div>
		<article class='flex flex-col gap-5'>
			{
				playlistInfo.artists.slice(3).map((artist: ArtistInfo) => (
					<Artist
						artist={artist}
						playlistId={id}
					/>
				))
			}
		</article>
	</section>
</main>

<style>
	#artists::-webkit-scrollbar {
		display: none;
	}

	#artists {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
</style>
